@use 'reset';

/* Global Variables */

/* Breakpoints */
$desk: 1900px;
$lap-xl: 1680px;
$lap-l: 1440px;
$lap-m: 1280px;
$lap-s: 1024px;
$tab: 768px;
$phone: 600px;

/* Colors */
$primary: #636363;
$secondary: #f07c00;

/* Mixins */
@mixin hero-photo($image-url, $alpha) {
    background-image: url($image-url);
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, $alpha);
}

:root {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    text-decoration: none;
}

.middle-bit {
    max-width: 1400px;
    margin: 0 auto;
}
.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}



.container {
    display: flex;
    flex-direction: column;
    
}
header {
    nav {
        display: flex;
        
        @media screen and (min-width: $lap-s) {
            justify-content: space-between;
            align-items: center;

            #logo-wrapper {
                width: 200px;
                margin-right: 400px;
            }
        }

        img {
            width: 180px;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            &.hidden {
                display:none;
            }

            @media screen and (min-width: $lap-s) {
                display: flex;
                flex-direction: row;

            }

            li {
                @media screen and (min-width: $lap-s) {
                    margin-left: 3em;
    
                }

            }

            li:last-of-type {
                font-weight: 600;

            }
           
            
        }
        
    }
}
h1 {
    max-width: 24ch;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 900;


}
// .text-wrapper, header, footer {
//     margin: 0 auto;
//     padding:0 2%;
//     width: 100%;

//     @media screen and (min-width: $tab) {
//         padding:0 4%;
//     }
//     @media screen and (min-width: $lap-s) {
//         padding:0 5%;
//     }
//     @media screen and (min-width: $lap-m) {
//         padding:0 6%;
//     }
//     @media screen and (min-width: $lap-l) {
//         padding:0 7%;
//     }
//     @media screen and (min-width: $lap-xl) {
//         padding:0 8%;
//     }
//     @media screen and (min-width: $desk) {
//         padding:0 9%;
//     }
    

// }
.hero {
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .text-wrapper {
        transition: background-color .3s ease-in 0s;
        // width: 100%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        &:hover {
            background-color: rgba(0,0,0,.5);
        }
        
        &:hover p {
            transition: background-image .3s ease-in 0s;
        }
        &:hover p::after {
            content: "";
            display: inline-block;
            background-image: url("assets/si-sprite.svg");
            background-color: orange;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            overflow:visible;
        }

        h2 {
            font-weight: 900;
            font-size: 3.5rem;
            margin: 0 0 .5rem 0;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
        }
    }
    
}
#people {
    @include hero-photo("assets/rosa_m.jpeg", 0.5);
}
#planet {
    @include hero-photo("assets/carbon12-hero.jpeg", 0.5);
}
#education {
    @include hero-photo("assets/tt-hero-20.jpeg", 0.5);
}

#services {
    h2 {
        font-weight: 900;
        font-size: 1.75em;
        margin-bottom: 1.5rem;
    }
}
.card-group {
    display: flex;
    justify-content: space-between;

    .card {
        display: flex;
        max-width: 400px;

        h3 {
            font-weight: 900;
            color: $secondary;
            font-size: 1.25rem;
            min-width: 12ch;
            margin-right: 3ch;
        }
        p {
            color: $primary;
            line-height: 1.5rem;
        }


    }
}
#call-to-action {
    border-top: 8px rgba(0,0,0,0.1) solid;
    padding-top: 1em;
    padding-bottom: 4em;

    h2 {
        font-weight: 600;
        font-size: 2em;
        color: $primary;

        a {
            font-weight: 900;
            color: $secondary;
        }
    }

}
footer {
    background-image: url("assets/falcon-view.jpeg");
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .section-wrapper {
        display: grid;
        grid-template: 
        "form-wrapper    b-corp"
        "footer-nav      footer-nav"
        "bottom          bottom" 
        / 1fr 60px;
        
        #form-wrapper {
            grid-area: form-wrapper;
        }
        
        #b-corp-wrapper {
            grid-area: b-corp;
        }
        ul {
            grid-area: footer-nav;
        }
        #footer-bottom-wrapper {
            grid-area: bottom;
        }
        p:last-of-type {
            grid-area: p2
        }

    }
    




}

