@use 'reset';
@use 'form-reset';
@use 'hamburger';

/* Global Variables */

/* Breakpoints */
$desk: 1900px;
$lap-xl: 1680px;
$lap-l: 1440px;
$lap-m: 1280px;
$lap-s: 1024px;
$tab: 768px;
$phone: 660px;

/* Colors */
$primary: #636363;
$secondary: #f07c00;

/* Mixins */
@mixin hero-photo($image-url, $alpha) {
    background-image: url($image-url);
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, $alpha);
}



:root {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display:none;
}

.middle-bit {
    width: 90%;
    display: flex;
}
.centered {
    display: flex;
    justify-content: center;
}
.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}
@media screen and (min-width: $lap-s) {
    #hamburger {
        display: none;
    }
}
.container {
    display: flex;
    flex-direction: column;
    
}
header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 200;

    nav {
        @media screen and (min-width: $lap-s) {
            justify-content: space-between;
        }
    }

    ul.desktop {
        height: 103px;
        /* for when we scroll down past 80px */
        &.fly-on-the-wall {
            height: 60px;
            a {
                padding-top: 25px;
                &:hover {
                    padding-top: 20px;
                }
            }
        }
        a {
            padding-top: 45px;
            box-sizing: border-box;
            &:hover {
                color: $secondary;
                border-top-width: 5px;
                border-top-style: solid;
                padding-top: 40px;
            }
            
            
        }
        li {
            display: flex;
            @for $i from 1 through 5 {
                &:nth-child(1n+#{$i}) a:hover {
                  border-top-color: lighten($secondary, $i * 7%);
                }
              }
           
        }
    }
}
.hamburger {
    position: absolute;
    right: 1rem;
    top: 2rem;
    z-index: 100;
}
#logo-ts {
    transition: width .5s ease-out;
    height: 39px;
    padding-top: 22px;
    width: 200px;
    &.small-logo {
        width: 125px;
        padding-top: 11px;
    }
}
#mobile-menu {
    background-color: white;
    height: 0;
    margin: -1rem 0;
    overflow: hidden;
    position: absolute;
    top: 5rem;
    transition: width .6s ease-out;
    width: 100%;
    z-index: 10;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;

    }
    li {
        margin-left: 0;
        margin-top: .5rem;
        font-size: 1.5rem;     
        
        &:last-of-type {
            margin-bottom: 1rem;
        }
    }
}
#mobile-menu.expanded {  
    height: 250px;   
}
nav {
    z-index: 100;
    display: flex;  
    
    ul.desktop {
        display: none;
    }
    #logo-wrapper {
        display: flex;
        align-items: center;
    } 
    @media screen and (min-width: $phone) {
        justify-content: space-between;
    }
    @media screen and (min-width: $lap-s) {

        
        #logo-wrapper {
            width: 200px;
        }
        ul.desktop {
            display: flex;
        } 
        ul {
            display: none;          
        }
    }
    img {
        width: 180px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $lap-s) {
            display: flex;
            flex-direction: row;
        }

        li {
            @media screen and (min-width: $phone) {
                margin-left: 3em;

            }

        }

        li:last-of-type {
            font-weight: 600;

        }
        
        
    }
    
}



.statement {
    @media screen and (min-width: $lap-s) {
        height: 400px;
    }
}
    h1 {
    font-weight: 900;
    max-width: 60%;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 9rem;
 

    @media screen and (min-width: $phone) {
    max-width: 24ch;
    font-size: 4rem;
    line-height: 4rem;
    
    }


}
    @media screen and (min-width: $tab) {
        .middle-bit {
            width: 90%;

            
        }
    }
    @media screen and (min-width: $lap-s) {
        .middle-bit {
            max-width: 1200px;
            width: 90%;
            


        }
    }
    @media screen and (min-width: $lap-m) {
        .middle-bit {
            width: 90%;

        }
    }
    @media screen and (min-width: $lap-l) {
        .middle-bit {
            width: 90%;

        }
    }
    @media screen and (min-width: $lap-xl) {
        .middle-bit {
            width: 90%;

        }
    }
    @media screen and (min-width: $desk) {
        .middle-bit {
            width: 90%;

        }
    }
    

.hero {
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .text-wrapper {
        transition: background-color .3s ease-in 0s;
        // width: 100%;
        height: 660px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        width: 100%;

        &:hover {
            background-color: rgba(0,0,0,.5);
        }
        
        &:hover p {
            transition: background-image .3s ease-in 0s;
        }
        &:hover p::after {
            content: "";
            display: inline-block;
            background-image: url("assets/si-sprite.svg");
            background-color: orange;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            overflow:visible;
        }

        h2 {
            font-weight: 900;
            font-size: 3.5rem;
            margin: 0 0 .5rem 0;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
        }
    }
    
}
#people {
    @include hero-photo("assets/rosa_m.jpeg", 0.5);
}
#planet {
    @include hero-photo("assets/carbon12-hero.jpeg", 0.5);
}
#education {
    @include hero-photo("assets/tt-hero-20.jpeg", 0.5);
}

#services {
    h2 {
        font-weight: 900;
        font-size: 1.75em;
        margin-bottom: 1.5rem;
    }
}
.card-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: $phone) {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .card {
        display: flex;
        max-width: 400px;

        h3 {
            font-weight: 900;
            color: $secondary;
            font-size: 1.25rem;
            min-width: 12ch;
            margin-right: 3ch;
        }
        p {
            color: $primary;
            line-height: 1.5rem;
        }


    }
}
#call-to-action {
    border-top: 8px rgba(0,0,0,0.1) solid;
    padding-top: 1em;
    padding-bottom: 4em;

    h2 {
        font-weight: 600;
        font-size: 2em;
        color: $primary;

        a {
            font-weight: 900;
            color: $secondary;
        }
    }

}
footer {
    background-image: url("assets/falcon-view.jpeg");
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    
    .section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;


        li {
            margin-top: 1rem;
            font-size: 1.5rem;
            margin-left: 0;
            margin-right: 1rem;
            @media screen and (min-width: $phone) {
                font-size: 1rem;
    
            }
        }
    }
    
    #form-wrapper {
        padding-top: 2rem;
        
        order: 1;
        p {
            margin-bottom: .5rem;
        }
    }
    nav {
        order: 2;
    }
    #b-corp-wrapper {
        order: 3;
    }
    #footer-bottom-wrapper {
        order: 4;
    }


    @media screen and (min-width: $phone) {
        height: 550px;
    
        .section-wrapper {
            padding-top: 80px;
            display: grid;
            grid-template: 
            "form-wrapper    b-corp" 160px
            "footer-nav      footer-nav" 2em
            "foot          foot" 200px  
            / 1fr 60px;

            #form-wrapper {
                grid-area: form-wrapper;
            }
            
            #b-corp-wrapper {
                grid-area: b-corp;
            }
            nav {
                grid-area: footer-nav;
            }
            #footer-bottom-wrapper {
                grid-area: foot;

            }
            p:last-of-type {
                grid-area: p2
            }
        }
    }

        form {
            display: flex;
            font-size: .8rem;
            
            input {
                @extend %form-reset-input;
                background-color: white;
                height: 3rem;
                width: 60%;
                padding: .1rem 1rem;
                color: black;
                font-weight: 100;
                @media screen and (min-width: $phone) {
                    width: 35ch;
                }

            }
            button {
                @extend %form-reset-button;
              
                background-color: $secondary;
                color: black;
                padding-right: 1rem;
                padding-left: 1rem;
                text-transform: uppercase;
                letter-spacing: .1rem;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    
    
    #footer-bottom-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: $phone) {
            justify-content: space-between;
            flex-direction: row;
        }

        padding-top: 180px;
        margin-bottom: 60px;

        p {
            margin-top: 1em;
            font-size: .8rem;
            max-width: 80ch;

            a {
                color: white;
                font-weight: 600;

            }
            
        }
    }
    

    #social-wrapper {
        font-size: 1.8rem;
    }




}

