/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------------------------------------------------------------

SCSS Form Reset Helpers - Forked from: https://gist.github.com/anthonyshort/552543

Intended usage:
- MIXINS: for very specific use cases, when you dont want to reset absolutly all the forms, very verbose output.
- PLACEHOLDER SELECTORS: use as extending classes. Less verbose, more generic overrides.

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
footer form button, footer form input {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;
  background: none;
  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

footer form input[type=reset], footer form input[type=button], footer form input[type=submit], footer form input[type=checkbox], footer form input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer form input {
  /* Make webkit render the search input like a normal text field */
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  /* Fix IE7 display bug */
  /* These elements are usually rendered a certain way by the browser */
}
footer form input:focus {
  outline: 0;
}
footer form input[type=checkbox], footer form input[type=radio] {
  width: 13px;
  height: 13px;
}
footer form input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}

footer form input[type=reset], footer form input[type=button], footer form input[type=submit] {
  overflow: visible;
}
footer form button {
  background: none;
  border: 0;
  outline: none;
  /* IE8 and FF freak out if this rule is within another selector */
}
footer form button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
footer form button:hover, footer form button:active, footer form button:focus {
  outline: 0;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/* Global Variables */
/* Breakpoints */
/* Colors */
/* Functions */
/* Mixins */
:root {
  font-family: "Hind Siliguri", sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.middle-bit {
  width: 90%;
  display: flex;
}

.centered {
  display: flex;
  justify-content: center;
}

.primary {
  color: #636363;
}

.secondary {
  color: #f07c00;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 200;
}
@media screen and (min-width: 1024px) {
  header nav {
    justify-content: space-between;
  }
}
header ul.desktop {
  height: 103px;
  /* for when we scroll down past 80px */
}
header ul.desktop.fly-on-the-wall {
  height: 60px;
}
header ul.desktop.fly-on-the-wall a {
  padding-top: 25px;
}
header ul.desktop.fly-on-the-wall a:hover {
  padding-top: 20px;
}
header ul.desktop a {
  padding-top: 25px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  header ul.desktop a {
    padding-top: 45px;
  }
}
@media screen and (min-width: 1024px) {
  header ul.desktop a:hover {
    color: #f07c00;
    border-top-width: 5px;
    border-top-style: solid;
    padding-top: 40px;
  }
}
header ul.desktop li {
  display: flex;
  font-size: 1.25rem;
}
@media screen and (min-width: 1024px) {
  header ul.desktop li {
    font-size: 1rem;
  }
  header ul.desktop li:nth-child(1n+1) a:hover {
    border-top-color: #ff8e15;
  }
  header ul.desktop li:nth-child(1n+2) a:hover {
    border-top-color: #ff9f38;
  }
  header ul.desktop li:nth-child(1n+3) a:hover {
    border-top-color: #ffb05c;
  }
  header ul.desktop li:nth-child(1n+4) a:hover {
    border-top-color: #ffc280;
  }
  header ul.desktop li:nth-child(1n+5) a:hover {
    border-top-color: #ffd3a4;
  }
}

#hamburger {
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 100;
  width: 35px;
}
@media screen and (min-width: 1024px) {
  #hamburger {
    display: none;
  }
}

#logo-ts {
  transition: width 0.5s ease-out;
  height: 39px;
  padding-top: 22px;
  width: 200px;
}
#logo-ts.small-logo {
  width: 125px;
  padding-top: 11px;
}

#top-nav {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top-nav {
    flex-direction: row;
  }
}
#top-nav ul {
  height: 0;
  transition: height 600ms ease-in-out;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  #top-nav ul {
    height: auto;
  }
}
#top-nav ul.expanded {
  height: 280px;
  display: flex;
}

nav {
  display: flex;
}
nav #logo-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 660px) {
  nav {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  nav #logo-wrapper {
    width: 200px;
  }
  nav ul.desktop {
    display: flex;
  }
  nav ul {
    display: none;
  }
}
nav img {
  width: 180px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  nav ul li {
    margin-left: 3em;
  }
}
nav ul li:last-of-type {
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .statement {
    height: 400px;
  }
}

h1 {
  font-weight: 900;
  font-size: 6vw;
  line-height: 1.25em;
  margin-top: 20vw;
  margin-bottom: 10vw;
  max-width: 80%;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.5vw;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 12rem;
    max-width: 24ch;
    font-size: 64px;
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .middle-bit {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .middle-bit {
    max-width: 1200px;
    width: 90%;
  }
}
@media screen and (min-width: 1280px) {
  .middle-bit {
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .middle-bit {
    width: 90%;
  }
}
@media screen and (min-width: 1680px) {
  .middle-bit {
    width: 90%;
  }
}
@media screen and (min-width: 1900px) {
  .middle-bit {
    width: 90%;
  }
}
.hero {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 40vw;
  }
}
.hero .text-wrapper {
  transition: background-color 0.3s ease-in 0s;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero .text-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .text-wrapper:hover p {
  transition: background-image 0.3s ease-in 0s;
}
.hero .text-wrapper:hover p::after {
  content: "";
  display: inline-block;
  background-image: url("assets/si-sprite.svg");
  background-color: orange;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  overflow: visible;
}
.hero .text-wrapper .middle-bit {
  flex-wrap: wrap;
}
.hero .text-wrapper h2 {
  font-weight: 900;
  font-size: 3.5rem;
  margin: 0 0 0.5rem 0;
  width: 100%;
}
.hero .text-wrapper p {
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
}

#people {
  background-image: url("assets/rosa_m.jpeg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#planet {
  background-image: url("assets/carbon12-hero.jpeg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#education {
  background-image: url("assets/tt-hero-20.jpeg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.services-wrapper {
  display: grid;
  justify-content: stretch;
  grid-template-areas: "heading heading heading" "card1   card2   card3";
  margin: 3rem;
}
.services-wrapper > a {
  grid-area: heading;
  font-weight: 900;
  font-size: 1.75em;
  margin-bottom: 1.5rem;
  width: 100%;
  color: black;
}

.card-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 660px) {
  .card-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.card-group .card {
  /* assign each card an incremented grid area name */
  display: flex;
  margin-bottom: 1rem;
  max-width: 400px;
}
.card-group .card:nth-of-type(1) {
  grid-area: card1;
}
.card-group .card:nth-of-type(2) {
  grid-area: card2;
}
.card-group .card:nth-of-type(3) {
  grid-area: card3;
}
.card-group .card a {
  color: #f07c00;
}
.card-group .card a:hover {
  text-decoration: underline;
}
.card-group .card a h3 {
  font-weight: 900;
  font-size: 1.25rem;
  min-width: 12ch;
  margin-right: 3ch;
  display: block;
}
.card-group .card p {
  color: #636363;
  line-height: 1.5rem;
}

#call-to-action .section-wrapper {
  border-top: 6px rgba(221, 221, 221, 0.6) solid;
  padding-top: 1em;
}
#call-to-action h2 {
  color: #636363;
  font-weight: 600;
  font-size: 1.75em;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#call-to-action h2 a {
  font-weight: 900;
  color: #f07c00;
}
#call-to-action h2 a:hover {
  text-decoration: underline;
}

footer {
  align-items: center;
  background-image: url("assets/falcon-view.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0 0 0 2000px rgba(55, 53, 53, 0.79);
  padding-top: 2rem;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 660px) {
  footer {
    text-align: left;
  }
}
footer a:hover {
  text-decoration: underline;
}
footer .section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section-wrapper nav {
  order: 2;
}
footer .section-wrapper nav ul {
  align-items: center;
  margin: 2rem 0;
}
@media screen and (min-width: 660px) {
  footer .section-wrapper nav ul {
    flex-direction: row;
  }
}
footer .section-wrapper nav ul li {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-left: 0;
}
@media screen and (min-width: 660px) {
  footer .section-wrapper nav ul li {
    font-size: 1rem;
    margin-right: 1rem;
  }
}
footer #form-wrapper {
  order: 1;
}
footer #form-wrapper p {
  margin-bottom: 0.5rem;
}
footer #b-corp-wrapper {
  order: 3;
}
footer #b-corp-wrapper img {
  height: auto;
  width: 64px;
}
footer #footer-bottom-wrapper {
  order: 4;
}
@media screen and (min-width: 660px) {
  footer {
    height: 550px;
  }
  footer .section-wrapper {
    display: grid;
    grid-template: "form-wrapper    b-corp" 160px "footer-nav      footer-nav" 2em "foot          foot" 200px/1fr 60px;
  }
  footer .section-wrapper #form-wrapper {
    grid-area: form-wrapper;
  }
  footer .section-wrapper #b-corp-wrapper {
    grid-area: b-corp;
  }
  footer .section-wrapper nav {
    grid-area: footer-nav;
  }
  footer .section-wrapper #footer-bottom-wrapper {
    grid-area: foot;
  }
  footer .section-wrapper p:last-of-type {
    grid-area: p2;
  }
}
footer form {
  display: flex;
  font-size: 0.8rem;
}
footer form input {
  background-color: white;
  height: 3rem;
  width: 60%;
  padding: 0.1rem 1rem;
  color: black;
  font-weight: 100;
}
@media screen and (min-width: 660px) {
  footer form input {
    width: 35ch;
  }
}
footer form button {
  background-color: #f07c00;
  color: black;
  padding-right: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
footer #footer-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 180px;
  margin-bottom: 60px;
}
@media screen and (min-width: 660px) {
  footer #footer-bottom-wrapper {
    justify-content: space-between;
    flex-direction: row;
  }
}
footer #footer-bottom-wrapper p {
  margin-top: 1em;
  font-size: 0.8rem;
  max-width: 80ch;
}
footer #footer-bottom-wrapper p a {
  color: white;
  font-weight: 600;
}
footer #social-wrapper {
  font-size: 1.8rem;
}

/*# sourceMappingURL=styles.css.map */
